<!DOCTYPE html>
<html lang="{{document_lang}}">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{document_title}}</title>
	<meta name="x-info-message" content="{{info_message}}">
	<meta name="x-failed-message" content="{{failed_message}}">
	<link rel="shortcut icon" href="{{{document_icon}}}" type="image/png">
	<style>{{{document_style}}}</style>
</head>

<body>
	<div id="login-wrapper">
		<div class="login-box">
			<div class="upper">
				<div class="top-spacer">
					<div id="login-loader" class="ring-loader"></div>
					<div id="login-logo">
						<svg viewBox="0 0 248 206">
							<g fill="#e72d4b">
								<polygon points="178 175 96.2 0 69.4 57.5 69.4 57.5 0 206 53.6 206 96.2 115 124 175" />
								<polygon points="248 49.1 248 0.5 116 0.5 139 49.1" />
								<polygon points="207 114 207 65.6 147 65.6 170 114" />
							</g>
						</svg>
					</div>
				</div>
				<div class="login-realm">
					<div>
						<b>
							<script>document.write(window.location.hostname)</script>
						</b>
					</div>
					{{realm_message}}
					<sup>
						<a id="login-info" href="#"><b>?</b></a>
					</sup>
				</div>
				<form id="login-form" action="" method="get">
					<div id="login-message"></div>
					<label>
						<span>{{{user_label}}}</span>
						<input id="login-username" name="username" type="text" value="">
					</label>
					<label>
						<span>{{{password_label}}}</span>
						<input id="login-password" name="password" type="password" value="">
					</label>
					<button id="login-button" type="submit">{{{login_text}}}</button>
				</form>
			</div>
			<div class="lower">
				{{{login_footer}}}
			</div>
		</div>
	</div>
	<script>{{{document_script}}}</script>
</body>

</html>